.works-title, .works-sub-title {
	color: #ffffff;
	text-align: center;
}

.works-title {
	font-weight: bold;
	margin-top: 285px;
	margin-bottom: 20px;
}

.works-sub-title {
	margin-bottom: 90px;
}

.card {
	background: none !important;
  border: none !important;
  width: 240px;
  text-align: center;
}

.card .card-img-top {
	align-self: center;
}

.schedule .card .card-img-top {
	width: 150px;
	height: 119px;
	margin-bottom: 34px;
	margin-top: 35px;
}

.confirm .card .card-img-top {
	width: 191px;
	height: 162px;
	margin-bottom: 13px;
}

.voila .card .card-img-top {
	width: 159px;
	height: 175px;
}

.card-body {
	flex: none !important;
}

.card-title {
	font-size: 24px !important;
	color: #ffffff !important;
}

.card-text {
	color: #ffffff !important;
}