.contact {
	max-width: 1366px;
	margin: 0 auto;
	margin-top: 240px;
}
.contact-us {
	margin-top: 100px;
	padding-left: 15px;
	padding-right: 15px;
	justify-content: space-between;
}

.contact-us-f {
	/*background-image: url('../../../Assets/Images/contactform.png');*/
	/*max-width: 612px;*/
	/*min-height: 689px;*/
	/*background-repeat: no-repeat;*/
	border: 1px solid #e0e7ef;
	padding: 50px 30px;
	border-radius: 5px;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
}

.contact-us-left.col {
	/*padding-left: 43px;*/
	flex-direction: column;
	max-width: 420px;
}

.contact-us-left.col > div + div {
	margin-top: 50px; 
}

.contact-us-left.col > div.contact-us-left-div > div {
	width: 31px;
	margin-right: 20px;
	align-items: center;
}

.contact-us-left.col > div.contact-us-left-div > div img {
	justify-content: center;
}

.contact-us-title {
	font-size: 52px;
	color: #ffffff;
}

.contact-us-sub-title {
	font-size: 42px;
	color: #ffffff;
}

.contact-us-right.col {
	max-width: 564px;
}

.contact-us {
	position: relative;
}

.contact-us-form {
/*	position: absolute;
	top: 60px;
	left: 30px;
	right: 40px;*/
	/*padding-top: 60px;*/
}

.contact-us-form-title {
	color: #374354;
	font-size: 24px;
	margin-bottom: 10px;
}

.contact-us-form h6 {
	margin-bottom: 50px;
}

.contact-us-form-inside .form-group {
	margin-bottom: 28px;
}

.contact-us-form-inside label {
	color: #374354;
}

.contact-us-form-inside button {
	color: #ffffff;
	background-color: #374354;
	border: none;
	margin-top: 20px;
	padding: 10px 80px;
}

@media only screen and (max-width: 767px) {
	.contact-us-title {
		font-size: 32px;
	}
	.contact-us-form h4, .contact-us-form h6 {
		text-align: center;
	}

	.contact-us-form h4, .contact-us h4 {
		font-size: 18px;
	}

	.contact-us-form h6, .contact-us-form label, .contact-us-form button {
		font-size: 14px;
	}

	.company {
		margin-top: 30px;
	}
}