.page-body .container-fluid {
	max-width: 1280px;
	margin: 0 auto;
	padding-top: 165px;
}

.ease {
	margin-bottom: 85px;
}

.ease > div {
	flex-direction: column;
	padding-bottom: 45px;
}

.ease > div > div {
	width: 100%;
	text-align: center;
}

.ease img {
	width: 194px;
	height: 194px;
}

.ease-title {
	color: #374354;
	font-weight: bold;
	text-align: center;
	margin-bottom: 80px;
}

.ease-title span {
	color: #3ff5b8;
}

.ease .col h4 {
	color: #374354;
	text-align: center;
	margin-top: 10px;
}

.free-toilet {
	margin-bottom: 260px;
}

.free-toilet-title {
	color: #374354;
	font-weight: bold;
	text-align: center;
	margin-bottom: 55px;
}

.free-toilet-title span {
	color: #3ff5b8;
}

.about-us h1, .about-us h4, .about-us p {
	color: #374354;
}

.about-us-title {
	text-align: center;
	font-weight: bold;
	margin-bottom: 90px;
}

.about-us h4 {
	font-weight: bold;
	margin-bottom: 20px;
}

.about-us-context.col {
	min-width: 300px;
}

.paper-water {
	width: 230px;
	height: 214px;
}

@media only screen and (max-width: 463px) {
	.ease img {
		width: 106px;
		height: 106px;
	}
}

@media only screen and (max-width: 767px) {
	.page-body h4 {
		font-size: 18px;
	}

	.page-body h1 {
		font-size: 32px;
	}

	.about-us-context {
		text-align: center;
	}

	.about-us-image {
		order: 1;
		margin: 0 auto;
	}

	.our-staff {
		order: 0;
		padding-left: 20px;
		padding-right: 20px;
	}

	.company {
		order: 2;
		padding-left: 20px;
		padding-right: 20px;
	}

	.paper-water {
		width: 160px;
		height: 150px;
	}

	.paper.col, .water.col {
		padding: 0;
	}


}

@media only screen and (max-width: 858px) {
	.about-us-context {
		text-align: center;
	}
}

@media only screen and (max-width: 960px) {
	.contact-us-left, .contact-us-right {
		margin: 0 auto;
	}

	.contact-us-left {
		margin-bottom: 105px;
	}

	.contact-us-left > div {
		justify-content: center;
	}

	.contact-us-left-div {
		flex-direction: column;
		align-items: center;
	}

	.contact-us-left-div h4 {
		text-align: center;
	}

	.contact-us-left-div img {
		margin-bottom: 15px;
	}
}
