.schedule-now {
	background: url("../../../Assets/Images/footerbackground.png");
	background-repeat: no-repeat;
	min-height: 658px;
	color: #ffffff;
	flex-direction: column;
	text-align: center;
	background-size: 1920px 100%;
	margin: 0 auto;
	max-width: 1920px;
	margin-top: 240px;
}

button.schedule-now-button {
	color: #374354;
	background-color: #3ff5b8;
	border: none;
	padding: 10px 40px;
}

@media only screen and (max-width: 767px) {
	.schedule-now h1 {
		font-size: 32px;
	}

	.schedule-now h4 {
		font-size: 18px;
	}

	.schedule-now button.schedule-now-button {
		font-size: 14px;
	}
}