.footer.container-fluid {
	max-width: 1366px;
	margin: 0 auto;
/*	padding-left: 43px;
	padding-right: 43px;*/
}

.pre-footer {
	padding: 100px 0;
	justify-content: space-between;
	flex-wrap: wrap;
}

.pre-footer h4 {
	margin-bottom: 45px;
}

.pre-footer > div {
	margin-left: 20px;
}

.footer-quick-access a {
	color: #374354;
}
.footer-quick-access a p {
	margin-bottom: 20px;
}

.footer-quick-access .access-left {
	margin-right: 120px;
}

.social a + a {
	margin-left: 50px;	
}

@media only screen and (max-width: 382px) {
	.footer-logo {
		display: none;
	}
}

@media only screen and (max-width: 552px) {
	.footer-logo {
		display: none;
	}

	.pre-footer > div {
		margin: 0 auto;
		text-align: center;
	}

	.footer-quick-access > div {
		flex-direction: column;
		margin-bottom: 50px;
	}

	.footer-quick-access .access-left {
		margin-right: 0;
	}
}