.header {
	background: url("../../../Assets/Images/headerbackground.png");
	background-size: 1920px 100%;
	background-repeat: no-repeat;
	min-height: 2004px;
	margin: 0 auto;
	max-width: 1920px;
}

.page-header {
	max-width: 1366px;
	margin: 0 auto;
}